<!-- wp:ourblocktheme/header /-->

<!-- wp:ourblocktheme/banner -->
<!-- wp:ourblocktheme/genericheading {"text":"Computer Repair Specialists"} -->
<h1 class="wp-block-ourblocktheme-genericheading headline headline--large">Computer Repair Specialists</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Expert solutions for all your computer needs","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">
  Expert solutions for all your computer needs
</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"We also teach Certificate Programs","linkObject":{"url":"/programs"}} -->
<a href="/programs" class="wp-block-ourblocktheme-genericbutton btn btn--large btn--blue"
  >We also teach Certificate Programs</a
>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/banner -->

<!-- wp:ourblocktheme/services /-->

<!-- wp:ourblocktheme/blogs /-->

<!-- wp:ourblocktheme/workshops /-->

<!-- wp:ourblocktheme/slideshow -->
<!-- wp:ourblocktheme/slide {"themeimage":"virus-protection2.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Virus Protection","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">Virus Protection</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Stop Viruses, Malware and Software Bugs.","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">Stop Viruses, Malware and Software Bugs.</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium","colorName":"dark-orange"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--dark-orange">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage":"custom-builds2.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Custom Builds","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">Custom Builds</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"We can build your PC to your requirements","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">
  We can build your PC to your requirements
</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage":"pc-repairs.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Computer Repairs","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">Computer Repairs</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Instore and Callout Computer Repairs","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">Instore and Callout Computer Repairs</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->
<!-- /wp:ourblocktheme/slideshow -->

<!-- wp:ourblocktheme/footer /-->
